@charset "utf-8";

html{
	padding: 0;
	margin: 0;
	width:100%;
    height:100%; 
}

/*body*/
body {
	position:relative;  
    width:100%;
    min-height:100%;  
    padding-bottom: 100px;  
    box-sizing: border-box;
	background-color:white;
}

/*header*/
header {
	width: 100%;
	height: 70px;
	font-size: 16px;
	font-style: normal;
	background: #113358;
	position: sticky;
}

footer {
	width: 100%;
	height: 81px;
	position: absolute;
	bottom:0px;
	left:0px;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	color:#113358;
}


/* Logo placeholder*/

#logoctn {
	margin-top: 15px;
	text-align: center;
	
}

#logo{
	color: white;
	font-family: Viga;
	font-weight: 400;
	font-size: 30px;
}

#logo:hover{
	text-decoration: none;
	color: #fdc02f;
	transition: 1s ease;
}

#searchbar{
	margin-top: 16px;
} 

#navictn{
	margin-top: 15px;	
}

#navictn .nav-link{
	color: white;
}

#hellonavi{
	margin-top: 16px;
	color: white;
}

#dropdownMenuLink{
	color: white;
	font-weight: bold; 
}

/* div for Links in header */
.main-form{
	max-width: 720px;
	margin: auto;
}

.carousel{
	text-align: center;
}

.card-img-top {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
  }

.card-item-effect {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
  }
  
  .card-img-ctn:hover .card-img-top {
	opacity: 0.3;
  }
  
  .card-img-ctn:hover .card-item-effect {
	opacity: 1;
  }


 .checked{
	  color:orange;
  }


  .spybox{
	  position: relative;
	  height: 480px;
	  overflow-y: scroll;
  }

  .h480{
	height: 480px;
  }

  .ui-autocomplete { z-index:2000 !important; }

  .fa{
	  font-size: 20px;
  }
  .fa:hover{
	text-decoration: none;
	color: #fdc02f;
	transition: 0.5s ease;
}
