@charset "utf-8";

html,body {
	padding: 0;
	margin: 0;
}

/*body*/
body {
	width: 100%;
	background-color:white;
}

/*header*/
header {
	width: 100%;
	/* font-family: 'Montserrat', sans-serif; */
	font-size: 16px;
	font-style: normal;
	background: #113358;
}




/* Logo placeholder*/

#logo {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 230px;
	text-align: center;
	color: white;
	font-family: viga;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
}

#searchbar{
	margin-top: 13.5px;
}

#navictn{
	margin-top: 14px;
}

/* div for Links in header */

.carousel{
	height: 500px;
    text-align: center;
    background: grey;
}