@charset "utf-8";

html,body {
	padding: 0;
	margin: 0;
}

/*body*/
body {
	width: 100%;
	background-color:white;
}

/*header*/

header {
	width: 100%;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	
}

.header-top {
	height: 80px;
}



/* Logo placeholder*/

#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 230px;
	text-align: center;
	color: #113358;
	font-family: viga;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	
}

.header-navi{

}

/* div for Links in header */

.carousel{
	height: 500px;
    text-align: center;
    background: grey;
}