{% extends "./index.html" %} {% block mainbody %}
<div class="container mt-4">


    <nav id="navbar-example2" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">anyWares</a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#frontend">Frontend</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#backend">Backend</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#positive">Positive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#negative">Negative</a>
            </li>

        </ul>
    </nav>
    <div class="spybox" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <div class="h480">
            <h1>Get Any Wares</h1>
            <h1>Anywhere</h1>
        </div>
        <div class="h480">
            <h4 id="frontend">Frontend</h4>
            <p>...</p>
            <p>HTML/CSS</p>
            <p>Bootstrap</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
        <div class="h480">
            <h4 id="backend">Backend</h4>
            <p>...</p>
            <p>Django</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
        <div class="h480">
            <h4 id="positive">Positive</h4>
            <p>...</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
        <div class="h480">
            <h4 id="negative">Negative</h4>
            <p>...</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>

    </div>

</div>

{% endblock %}