{% extends "./index.html" %} {% block mainbody %}
<div class="container mt-4">


    <nav id="navbar-example2" class="navbar navbar-light">
        
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="#frontend">Frontend</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#backend">Backend</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#positive">Positive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#negative">Negative</a>
            </li>
        </ul>
    </nav>
    <div class="spybox" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <div class="h480">
            <h4 id="frontend">Frontend</h4>
            <br/>
            <p><i class="fa fa-html5"></i>HTML5</p>
            <p><i class="fa fa-css3"></i>CSS 3</p>
            <i class="fa fa-github"></i><p>Bootstrap 4</p>
            <br/>
            <br/>
            <br/>
        </div>

        <div class="h480">
            <h4 id="backend">Backend</h4>
            <p>...</p>
            <p>Django</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
        
        <div class="h480">
            <h4 id="positive">Positive</h4>
            <p>...</p>
            <br/>
            <br/>
            <br/>
            
        </div>
        <div class="h480">
            <h4 id="negative">Negative</h4>
            <p>...</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            
        </div>

    </div>

</div>

{% endblock %}