<!doctype html>
<html>

<head>
  <title>anyWares</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">

  <!-- icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Viga font for logo -->
  <link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet"> {% load static %}
  <link href="{% static 'anyWares/style.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'anyWares/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- <div class="mainctn"> -->
  <header class="sticky-top">
    <!-- This is the header content. It contains Logo and links -->
    <div class="row" style="height:70px;">
      <div class="col-sm-3">
        <div id="logoctn">
          <a href="/anyWares" id="logo">anyWares</a>
        </div>
      </div>
      <div class="col-sm-6" id="searchbar">
        <form class="form my-auto" action="/anyWares/search/" method="get">
          <div class="input-group">
            <div class="input-group-btn">
              <select id="category_select" name="category_select" class="form-control input-group-addon btn btn-secondary">
                <option>Category</option>
                <option>Home Goods</option>
                <option>Electronics</option>
                <option>Entertainment</option>
              </select>
            </div>
            <input type="text" id="search_box" name="search_box" class="form-control" aria-label="Text input with dropdown button">
            <button type="submit" class="input-group-addon btn btn-primary">Search</button>
          </div>
        </form>
      </div>
      
      <div class="col-sm-3">
        {% if user.is_authenticated %}
        <div id="hellonavi">
          Hello,
          <span class="dropdown show">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/anyWares/account">My Account</a>
              <a class="dropdown-item" href="/anyWares/myitems">My Item</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/anyWares/logout">Logout</a>
            </div>
          </span>
          <a href="/anyWares/createItem" class="btn btn-outline-warning ml-2">Post</a>
        </div>

        {% else %}
        <ul class="nav justify-content-end" id="navictn">
          <li class="nav-item justify-content-end">
            <a class="nav-link active" href="/anyWares/login">Login</a>
          </li>
          <li class="nav-item justify-content-end">
            <a class="nav-link" href="/anyWares/signup">Register</a>
          </li>
        </ul>
        {% endif %}
      </div>

    </div>
  </header>


  {% block mainbody %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <h1>Get </h1>
        <br/>
        <h1 id="c1" style="display:none">Any Wares</h1>
        <br/>
        <h1 id="c2" style="display:none">Anywhere</h1>
      </div>
      <div class="col-md-6">
        <p>Some of NEW Post:</p>
        <div id="carouselExampleControls" class="carousel slide my-4" data-ride="carousel">
          <div class="carousel-inner">
            {% for item in featured_items %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img class="d-block w-100" style="object-fit: container; max-height:380px;" src="{% static item.image.url %}" alt="Third slide">
              <form class="form my-auto" action="/anyWares/itemView/" method="get">
                <input type="hidden" name="item_id" id="item_id" value="{{ item.id }}">
                <button type="submit" class="btn btn-warning mt-3">Detail</button>
              </form>
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}


  <!-- footer -->
  <footer class="my-4">
    <hr class="mb-3">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="/anyWares/about" style="color:#113358;">About</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6 text-sm-right">
            Created by:
          </div>
          <div class="col-sm-6">
            Ryan Bass </br>
            Shihang Zhu
          </div>
        </div>
      </div>
      <div class="col-md-3">
        Follow us on:
        <a href="https://github.com/nickszhu/Anywares" style="color:#113358;">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </footer>

  <!-- </div> -->
  <!-- Optional JavaScript -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'anyWares/jquery-ui.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $("#c1").toggle({ effect: "scale", origin: ["middle", "left"] });
      setTimeout(function(){
         $("#c2").toggle({ effect: "scale", origin: ["middle", "left"] });
      },800);
      // setTimeout(function () {}, 800 ));
    });
  </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
  
    <script type="text/javascript">
      $(document).ready(function(){
        
        var location_input = $('input[id="search_box"]')
        location_input.autocomplete({
          source: "/anyWares/api/get_search_suggestions/",
          minLength: 1,
        });
        console.log("test");
      });
      jQuery.ui.autocomplete.prototype._resizeMenu = function () {
          var ul = this.menu.element;
          ul.outerWidth(this.element.outerWidth());
        }
    </script>
  
</body>

</html>