<!doctype html>
<html>

<head>
  <title>anyWares</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">


  <link href="../../static/anyWares/style.css" rel="stylesheet" type="text/css"> {% load static %}
</head>

<body>
  <header>
    <!-- This is the header content. It contains Logo and links -->
    <div class="row">
      <div class="col-md-3">
        <div id="logo">anyWares</div>
      </div>
      <div class="col-md-6">
        <form class="form" action="/anyWares/search/" method="get">
          
          <div class="input-group">
            <div class="input-group-btn">
                <select class="form-control input-group-addon btn btn-secondary">
                  <option>Catagory</option>
                  {% for catagory in catagory_list %}
                    <option>{{ catagory.category_name }}</option>
                  {% endfor %}
                </select>
              </div>    
            <input type="text" id="search_box" name="search_box" class="form-control" aria-label="Text input with dropdown button">
            <button type="submit" class="input-group-addon btn btn-primary">Search</button>
          </div>
        </form>
      </div>
      <div class="col-md-3 align-middle">
        <ul class="nav justify-content-end" id="navictn">
          <li class="nav-item justify-content-end">
            <a class="nav-link active" href="#">Login</a>
          </li>
          <li class="nav-item justify-content-end">
            <a class="nav-link" href="#">Register</a>
          </li>
        </ul>
      </div>

    </div>
  </header>


  {% block mainbody %}
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="..." alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  {% endblock %}
  <footer>
    This is footer;
  </footer>


  <!-- Optional JavaScript -->
  <script src="http://use.edgefonts.net/montserrat:n4:default;source-sans-pro:n2:default;comfortaa:n3,n4:default;londrina-shadow:n4:default;amaranth:n4:default;viga:n4:default.js"
    type="text/javascript"></script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>

</body>

</html>