{% extends "./index.html" %} {% load static from staticfiles %} {% block mainbody %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <img class="card-img-top" src="{% static item.image.url %}" alt="{{ item.image }}">
      <div class="mt-1 text-center"><button id="maptoggle" type="button" class="btn btn-outline-success">Show Direction</button></div>
      
    </div>
    <div class="col-md-8">
      <div>
        <h2>{{ item.name }}</h2>
      </div>
      <div>by {{item.owner_ID}}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </div>
      <br/>
      <div>${{ item.rental_price }}</div>
      <div>{{ item.date_listed }}</div>
      <br/>
      <div class="font-italic">{{ item.description }}</div>
    </div>
  </div>
  <div class="row mt-5" id="maps" style="display:none;">
    <iframe width="100%" height="450px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDXMY2HK8dI_71MbzNbQYPj6Nt1UGAOB54
  &q={{ item.address }}+{{ item.city }}+{{ item.state }}+{{ item.postal_code }}+{{ item.country }}" allowfullscreen>
    </iframe>
  </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $("#maptoggle").click(function(){
        $("#maps").toggle("linear");
    });
</script>
{% endblock %}