
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Owner</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.category_ID }}</td>
          <td>{{ item.owner_ID }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.rating }}</td>
          <td>{{ item.rental_price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% if items.has_other_pages %}
    <ul class="pagination">
      {% if items.has_previous %}
        <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in items.paginator.page_range %}
        {% if items.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if items.has_next %}
        <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}