<link href="../../static/anyWares/style.css" rel="stylesheet" type="text/css">

{% extends "./index.html" %}
{% load static from staticfiles %}

{% block mainbody %}
 <section class="mainContent">
    {% for item in items %}
      {% if forloop.counter0 == 0 %}<div class="productRow">{% endif %}
      {% if forloop.counter0|divisibleby:3 %}</div><div class="productRow">{% endif %}
      <article class="productInfo"><!-- Each individual product description -->
        <div><img alt="{{ item.picture }}" src="{% static item.picture.url %}" height="200" width="200"></div>
        <p class="price">{{ item.rental_price }}</p>
        <p class="productContent">{{ item.name }}</p>
        <input type="button" name="button" value="Buy" class="buyButton">
      </article>
      {% if forloop.last %}</div>{% endif %}
    {% endfor %}
</section>

  {% if items.has_other_pages %}
    <ul class="pagination">
      {% if items.has_previous %}
        <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in items.paginator.page_range %}
        {% if items.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if items.has_next %}
        <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}